*{
    margin: 0;
    padding: 0;
}
.stu {
    background-color: aqua;
    text-align: center;
    width: 1280;
    margin:auto;
}
.menus{
          overflow:hidden;
              font-size: 16px;
            background-color: #121212;
            padding: 14px 16px;
           text-align: right;
           width: 100%;    
}
.menus a{
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  padding: 10px 10px;
  text-align: left;
  margin-right: 30px;
  border-radius: 10px;
}
.menus a:hover{
  background-color:red;
  opacity: 0.7;
}
.table-box{
    margin: 50px auto;
    
}
.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: black;
    font-size:  13px;
    box-shadow: 0 4px 4px 0 rgba(0,0,50,0.3);
}

.table-cell{
    display: table-cell;
    width: 13%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}

.table-head{
    background-color: #344D67;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
   
}
.table-head .table-cell{
    border-right: none;
}
.table-cell .last-cell{
    border-right: none;
}